.whatsapp-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    cursor: pointer;
  }
  
  /* Effet de survol de la bulle */
  .whatsapp-bubble:hover {
    background-color: #128C7E; /* Couleur de fond au survol */
    transition: background-color 0.3s ease-in-out;
  }

  .footer {
    font-size: 16px;
    font-weight: lighter;
    position: relative;
    bottom: 5px;
    left: 33%;
  }

  .first-container {
    margin-top: 40px;
  }

  .home-section1 {
    margin-left: 70px;
    margin-right: 70px;
  }

  .homed-flex {
    display: flex;
    justify-content: space-between;
  }

  .home-title {
    font-size: 40px;
  }

  .home-para1 {
    font-size: 14px;
    margin-right: 30px;
    text-align: justify;
  }

  .home-soustitle {
    font-size: 22px;
  }

  .home-image1 {
    width: 600px;
    height: 420px;
    border-radius: 50px;
  }

  .home-section2 {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .home-image-slider {
    height: 350px;
    width: 100%;
  }

  .home-bottom-cards {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 50px;
  }

  .home-image-bottom-cards {
    width: 300px;
    height: 210px;
    border-radius: 10px;
  }

  .contact-section {
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .contact-soussection {
    margin-top: 50px;
  }

  .contact-title {
    font-size: 25px;
  }

  .contact-para {
    font-size: 16px;
    width: 600px;
  }

  .contact-detail {
    font-size: 16px;
  }

  .contact-map {
    border: 0;
    width: 100%;
    height: 215px;
    margin-bottom: 20px;
  }

  .secteur-page-section1 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
  }

  .secteur-page-section2 {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .secteur-page-cards {
    width: 220px;
    margin-right: 25px;
  }

  .secteur-page-section1,
  .secteur-page-section2 {
    display: flex;
    justify-content: space-between;
    
  }

  .secteur-page-cards-image {
    height: 100px;
  }

  .secteur-page-cards-para {
    font-size: 12px;
  }

  .prof-profil-page-title {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
  }

  .prof-profil-page-section {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 250px;
  }

  .prof-profil-page-box-card {
    width: 470px;
    position: relative;
  }

  .prof-profil-view-cards {
    display: flex;
    justify-content: space-between;
  }

  .prof-profil-cards-image {
    min-width: 182px;
  }

  

  @media screen and (max-width: 430px) {

    .footer {
      font-size: 14px;
      font-weight: lighter;
      position: relative;
      bottom: 5px;
      left: 3%;
    }

    .first-container {
      margin-top: 10px;
    }
    
    .home-section1 {
      margin-left: 1px;
      margin-right: 1px;
    }

    .homed-flex {
      display: flex;
      justify-content: space-between;
    }

    .home-title {
      font-size: 28px;
    }

    .home-para1 {
      font-size: 10px;
      margin-right: 2px;
      text-align: justify;
    }

    .home-soustitle {
      font-size: 14px;
    }

    .home-image1 {
      width: 230px;
      height: 330px;
      margin-top: 90px;
      border-radius: 10px;
    }

    .home-section2 {
      margin-top: 0px;
      margin-bottom: 20px;
    }

    .home-image-slider {
      height: 220px;
      width: 100%;
    }

    .home-bottom-cards {
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 10px;
    }

    .home-image-bottom-cards {
      width: 120px;
      height: 120px;
      border-radius: 0px;
    }

    .contact-section {
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px;
    }
  
    .contact-soussection {
      margin-top: 20px;
    }
  
    .contact-title {
      font-size: 17px;
      font-weight: bold;
    }
  
    .contact-para {
      font-size: 14px;
      width: 390px;
    }
  
    .contact-detail {
      font-size: 15px;
    }

    .contact-map {
      border: 0;
      width: 100%;
      height: 155px;
      margin-bottom: 5px;
    }

    .secteur-page-section1,
  .secteur-page-section2 {
    flex-wrap: wrap;
  }

  .d-flex {
    flex-direction: column;
  }
  
    .secteur-page-cards {
      width: 100%;
    }
  
  
    .secteur-page-cards-image {
      height: 120px;
    }

    .prof-profil-page-title {
      font-size: 20px;
      text-align: center;
      margin-top: 15px;
    }
  
    .prof-profil-page-section {
      margin-top: 20px;
      margin-left: 4px;
    }
  
    .prof-profil-page-box-card {
      width: 420px;
      position: relative;
      padding: 10px;
    }
  
    .prof-profil-view-cards {
      flex-wrap: wrap;
      flex-direction: column;
    }
  
    .prof-profil-cards-image {
      min-width: 125px;
      max-height: 250px;
    }
  }

  @media screen and (max-width: 360px) {

    .footer {
      font-size: 11px;
      font-weight: lighter;
      position: relative;
      bottom: 5px;
      left: 5%;
    }

    .first-container {
      margin-top: 10px;
    }
    
    .home-section1 {
      margin-left: 1px;
      margin-right: 1px;
    }

    .homed-flex {
      display: flex;
      justify-content: space-between;
    }

    .home-title {
      font-size: 18px;
    }

    .home-para1 {
      font-size: 8px;
      margin-right: 1px;
      text-align: justify;
    }

    .home-soustitle {
      font-size: 10px;
    }

    .home-image1 {
      width: 230px;
      height: 300px;
      margin-top: 90px;
      border-radius: 10px;
    }

    .home-section2 {
      margin-top: 0px;
      margin-bottom: 20px;
    }

    .home-image-slider {
      height: 200px;
      width: 100%;
    }

    .home-bottom-cards {
      margin-left: 0px;
      margin-right: 0px;
      margin-bottom: 10px;
    }

    .home-image-bottom-cards {
      width: 100px;
      height: 100px;
      border-radius: 0px;
    }

    .contact-section {
      margin-top: 5px;
      margin-left: 5px;
      margin-right: 5px;
    }
  
    .contact-soussection {
      margin-top: 20px;
    }
  
    .contact-title {
      font-size: 14px;
      font-weight: bold;
    }
  
    .contact-para {
      font-size: 11px;
      width: 350px;
    }
  
    .contact-detail {
      font-size: 12px;
    }

    .contact-map {
      border: 0;
      width: 100%;
      height: 155px;
      margin-bottom: 5px;
    }

    .secteur-page-cards {
      width: 100%;
    }
  
    .secteur-page-section1,
    .secteur-page-section2 {
      flex-wrap: wrap; 
    }
  
    .d-flex {
      flex-direction: column;
    }

    .secteur-page-cards-image {
      height: 100px;
    }

    .prof-profil-page-title {
      font-size: 18px;
      text-align: center;
      margin-top: 15px;
    }
  
    .prof-profil-page-section {
      margin-top: 20px;
      margin-left: -8px;
    }
  
    .prof-profil-page-box-card {
      width: 360px;
      position: relative;
    }
  
    .prof-profil-view-cards {
      flex-wrap: wrap;
      flex-direction: column;
    }
  
    .prof-profil-cards-image {
      width: 100px;
      height: 200px;
    }
  }